.wrapper {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 45% 45%;
  min-height: inherit;
  justify-content: space-evenly;
  align-content: space-around;
}
.item {
  min-height: 180px;
  color: white;
  text-decoration: none;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech {
  background: url(../images/tech.jpg);
  background-size: cover;
}
.life {
  background: url(../images/life.jpg);
  background-size: cover;
}
.music {
  background: url(../images/music.jpg);
  background-size: cover;
}
.thinking {
  background: url(../images/thinking.jpg);
  background-size: cover;
}
.wording {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  max-width: 80%;
  max-height: 50%;
  padding: 20px 40px;
}

@media screen and (max-width: 415px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
  }
  .item {
    height: 20%;
    margin: 15px auto;
    width: 80%;
  }
}
